{{ partial "header.html" . }}

<div class="navigationBoxTopRight">
    <i>Diese Seite erstellt keine Cookies und erhebt lediglich technisch notwendige Daten (IP-Adresse, Seitenaufrufe, etc.) zur Verhinderung von Angriffen und Identifizierung von Problemen. Mehr dazu im <a href={{ ref . "/kontakt.md" }}>Impressum</a>.</i>
</div>

{{ range .Pages }}
    <div id="{{.Title | urlize }}" class="entryLink">
        <a href="{{ .Permalink }}">[L] {{ .Title }}</a>
    </div>
    {{ with .Params.link }}
        {{ partial "podcast.html" . }}
    {{ end }}
    <div class="entryContent">
        {{ .Content }}
    </div>

    <hr />
{{ end }}

{{ partial "footer.html" . }}
