{{ partial "header.html" . }}

{{ .Content }}

<h1>Alle {{ upper .Section }} Beiträge</h1>
{{ $post := where .Site.Pages "Type" "post" }}
{{ $podcast := where .Site.Pages "Type" "podcast" }}
{{ $entries := $post | union $podcast }}

{{ range $entries.ByDate.Reverse }}
  {{ if and (not .IsSection) (not .Params.Draft) }}
    <div id="{{.Title | urlize }}" class="entryLink">
      <a href="{{ .Permalink }}">{{ .Title }}</a> <i>geschrieben am {{ printf "%s, %d. %s %d" ( index $.Site.Data.de.days ( printf "%d" .Date.Weekday )) ( .Date.Day ) ( index $.Site.Data.de.month ( printf "%d" .Date.Month )) ( .Date.Year ) }} um {{ .Date.Format "15:04" }} Uhr.</i>
    </div>
  {{ end }}
{{ end }}

{{ partial "footer.html" . }}
